
.controller{
   display: inline-block;
    /* max-width: 25%; */
    min-width: 19%;
    box-shadow: 2px 2px 5px 2px rgb(218, 213, 213);
    
    margin: 10px 8px 8px 8px;
    font-size: 16px;  
    
    
}

.On{
   /* margin-left: 116px; */
   float: right;
  
   background-color: rgb(143, 7, 7);

}

.tempvalue{
   float: right;
   margin-right: 5px;
}

.voltvalue{
   float: right;
   margin-right: 5px;
}

.title{
    text-align: center;
    padding-top: 110px;
}

.button{
 
   text-align: center;
   width: 100%;
   background-color: rgb(18, 101, 134);
   border-radius: 0px 0px 6px 6px;
   /* opacity: 0.9; */
   
}
.button:hover{
    background-color: rgb(17, 85, 85);
}

.card-body{
    padding: 0;
}

.title{
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    color: black;
   
}

.switch{
    padding-left: 100px;
}
.cards{
    padding: 0px;
}
















  

