.Table1{
   
    display:inline-table;
    text-align: center;
    font-size: 16px;
    margin: 10px 40px 10px 15px;
     width: 20%;

}

.Table2{
    display:inline-table;
    text-align: center;
    font-size: 16px;
    margin: 10px 40px 10px 15px;
     width: 20%;
}

.Table3{
    display:inline-table;
    text-align: center;
    font-size: 16px;
    margin: 10px 40px 10px 15px;
     width: 20%;
}


.Table4{
    display:inline-table;
    text-align: center;
    font-size: 16px;
    margin: 10px 40px 10px 15px;
     width: 20%;
}


.TableData{
    margin-left: 20px;
    width: 100%;
}







