
.ant-layout-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 200px;
    width: 100%;
    height: 5px;
    background-color: #18232D;
    color: white;
    text-align: center;
    padding-bottom: 50px;
 
}